{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="d-flex justify-content-center gap-3 flex-wrap">
    <div class="card" style="width: 18rem; max-height: 550px; overflow:auto;">
      <img src="/static/images/ejemplo_boletin.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Nuevo Boletin</h5>
        <p class="card-text">Crea Y Sube un nuevo Boletin a la plataforma.</p>
        <a href="{% url 'crearBoletin' %}" class="btn btn-primary">Crear</a>
      </div>
    </div>
    <div class="card" style="width: 18rem; max-height: 550px; overflow: hidden;">
      <img src="/static/images/etiqueta.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Manejo de etiquetas</h5>
        <p class="card-text">Crea,elimia o edita etiquetas de los boletins para filtrar estos mismos</p>
        <a href="{% url 'categorias' %}" class="btn btn-primary">Ir</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}