{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <div class="container mt-5">
        <h1 class="text-center mb-4">Gestión de Categorías y Regiones</h1>

        <!-- Gestión de Categorías -->
        <div class="mb-5">
            <h2>Categorías</h2>
            <form method="POST" id="categoriaForm">
                {% csrf_token %}
                <div class="row g-3 align-items-center mb-3">
                    <div class="col-auto">
                        <input id="categoria_nombre" type="text" name="categoria_nombre" class="form-control" placeholder="Nueva categoría">
                    </div>
                    <div class="col-auto">
                        <button type="submit" name="add_categoria" class="btn btn-primary">Agregar</button>
                    </div>
                </div>
            </form>

            <ul class="list-group" id="lista-categorias">
            </ul>
        </div>

    </div>

    <script src="{% static 'js/scriptCategoria.js' %}""></script>


    {% endblock %}
