{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Subir Boletin</h2>
            <form method="POST" enctype="multipart/form-data" id="subirBoletinForm">
                {% csrf_token %}
                {{ form.as_p }}
                
                <div class="mb-3">
                    <label for="titulo" class="form-label">Titulo</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" required>
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Descripcion</label>
                    <textarea class="form-control" aria-label="With textarea" id="descripcion" name="descripcion"></textarea>
                </div>
                
                <div class="input-group mb-3 pt-3">
                    <label class="input-group-text" for="archivo_pdf">Subir PDF</label>
                    <input type="file" class="form-control" id="archivo_pdf" name="archivo_pdf">
                </div>
            
                <div class="input-group mb-3">
                    <label class="input-group-text" for="imagen">Subir Imagen</label>
                    <input type="file" class="form-control" id="imagen" name="imagen">
                </div>
            
                <!-- Selección de Regiones -->
                <div class="mb-3">
                    <label for="regiones" class="form-label">Seleccionar Regiones</label>
                    <select class="form-select" id="regionSelect" name="regiones" multiple>
                        
                    </select>
                    <small class="text-muted">Mantén presionada la tecla Ctrl (o Cmd en Mac) para seleccionar múltiples regiones.</small>
                </div>
            
                <!-- Selección de Categorías -->
                <div class="mb-3">
                    <label for="categorias" class="form-label">Seleccionar Categorías</label>
                    <select class="form-select" id="categoriaSelect" name="categoria" multiple>

                    </select>
                    <small class="text-muted">Mantén presionada la tecla Ctrl (o Cmd en Mac) para seleccionar múltiples categorías.</small>
                </div>
            
                <button type="submit" class="btn btn-primary w-100 mt-2">Confirmar</button>
            </form>
            <div id="responseMessage"></div>
        </div>
    </div>
  </div>
  <script src="{% static 'js/scriptAdminView.js' %}"></script>
  <script src="{% static 'js/scriptCargar.js' %}"></script>
{% endblock %}