{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <div class="card text-bg-dark">
        <img src="{% static 'images/banner-inicio.jpeg' %}" class="card-img" alt="..." height="300" style="object-fit: cover;">
        <div class="card-img-overlay">
            <h5 class="card-title fs-1"  style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">Vigilancia e Inteligencia en Innovación</h5>
            <p class="card-text"></p>
            <p class="card-text" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);"><small>Es un espacio que entrega información resultante del proceso de vigilancia, que realiza FIA, con la finalidad de aportar al conocimiento y toma de decisiones de los distintos actores de la cadena agroalimentaria y forestal. Aquí encontrarás información en formato o del tipo Boletines, Panoramas y Estudios, los que contienen distintos tipos de información tales como; noticias, publicaciones científicas, patentes, proyectos, políticas públicas, entre otras.</small></p>
        </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 p-4">
    <div class="col">
        <a href="{% url 'boletines' %}" style="text-decoration: none;">
      <div class="card">
        <img src="{% static 'images/boletines.jpg' %}" class="card-img-top" alt="..."  style="max-width: 500px; max-height: 500px;">
        <div class="card-body">
          <h5 class="card-title">Boletines de Vigilancia e Inteligencia en Innovación</h5>
        </div>
      </div>
    </a>
    </div>
    <div class="col">
        <a href="#" style="text-decoration: none;">
      <div class="card">
        <img src="{% static 'images/estudio-vigilancia.jpg' %}" class="card-img-top" alt="..." style="max-width: 500px; max-height: 500px">
        <div class="card-body">
          <h5 class="card-title">Estudios de Vigilancia</h5>
        </div>
      </div>
    </a>
    </div>
    <div class="col">
        <a href="#" style="text-decoration: none;">
      <div class="card">
        <img src="{% static 'images/panoramas.jpg' %}" class="card-img-top" alt="..." style="max-width: 500px; max-height: 500px;">
        <div class="card-body">
          <h5 class="card-title">Panoramas de Vigilancia</h5>
        </div>
      </div>
    </a>
    </div>
  </div>




{% endblock %}