{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="panel-body inf-content">
        <div class="row pt-5">
            <div class="col-md-8">
                <strong>Información de Usuario</strong><br>
                <div class="table-responsive">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>    
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user text-primary"></span>    
                                        Nombre                                               
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ user.first_name }}  
                                </td>
                            </tr>
                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                        Apellido                                                
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ user.last_name }}   
                                </td>
                            </tr>

                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                        Usuario                                             
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ user.username }}
                                </td>
                            </tr>

                            <tr>        
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                        Email                                                
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ user.email }}
                                </td>
                            </tr>                                   
                        </tbody>
                    </table>
                </div>
                <br>
                <!-- Formulario para editar información -->
                <h4>Editar Perfil</h4>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </form>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger mt-3">Cerrar Sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>                                         
{% endblock %}
